@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pagina-login {
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    background-image: url('../imgs/gestao_escolar_wallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}